<div class="row">
    <div class="col-sm-8">
        <h3>
            Books
        </h3>
        <article ng-repeat="book in books track by $index" class="book row">
            <div class="col-sm-1">
                {{book.id}}
            </div>
            <div class="col-sm-4">
                <h5>{{book.title.rendered}}</h5>
            </div>
            <div class="col-sm-3">
                <p ng-if="book.meta.isbn">ISBN: {{book.meta.isbn}}</p>
            </div>
            <div class="col-sm-4 text-right">
                <a href="#" ui-sref="book({id:book.id})" class="btn btn-primary">View</a>
                <a href="#" ui-sref="edit({id:book.id})" class="btn btn-warning">Edit</a>
                <span ng-click="deletePost($index, book.id)" class="btn btn-danger">Delete</span>
            </div>
        </article>
    </div>
    <div class="col-sm-4">
        <h4>Sidebar</h4>
        <p>Sidebar for the page for some more stuff!</p>
    </div>
</div>